.member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 570px;
}

@media screen and (min-width: 1200px) {
    .member {
        width: 570px;
        justify-content: flex-start;
    }
}

.image_n_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.image_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;

    width: 180px;
    height: 200px;

    filter: drop-shadow(2px 2px 5px #999999);
    border-radius: 15px;
    overflow: hidden;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.position {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;

    color: #333333;
}

.research_interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px 0px; */
    gap: 5px;
}

.ri_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #666666;
}

.ri_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
}

.ri_elem {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}



.alumni_container {
    display: flex;
    flex-direction: column;
}

.alumni_header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.name {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.current_affiliation {
    font-size: 14px;
}

.email {
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.histories {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}