.supplements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  gap: 2px;
}

.desc {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  display: flex;
  align-items: center;

  /* white */

  color: #ffffff;
}
