.alumni {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #000000;
}
.program {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #333333;
}
.current_position {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #000000;
}
