.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  width: 100%;
  background-color: #eeeeee;
}

.image_holder {
  position: relative;
  width: 350px;
  height: 60px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
