.image_carousel {
  width: 100%;
  height: calc(50vw);
  margin: auto;
  position: relative;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: collapse;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

@media screen and (min-width: 1200px) {
  .image_carousel {
    width: 1170px;
    height: 585px;
  }
}

.controller {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(50vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .controller {
    width: 1170px;
    height: 585px;
  }
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #444;
  opacity: 0.4;

  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: #dadada;
  margin: 0 5px;
  padding: 5px;

  z-index: 999;
}
.icon_wrapper:hover {
  opacity: 0.9;
  color: #000;
  background-color: #fff;
}

.radios {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
  z-index: 999;
}

.input_radios {
  cursor: pointer;
  border-radius: 999px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.checked {
  background: #333;
}
