.image_carousel {
  width: 100vw;
  height: 25vw;

  margin: auto;
  position: relative;
}

.image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 53.48%;
  height: 100%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: collapse;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

/* @media screen and (min-width: 1200px) {
  .image_carousel {
    width: 1170px;
    height: 585px;
  }
} */

.right_mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .right_mask {
    visibility: visible;
  }
}

.title {
  position: absolute;
  left: 58.2%;
  right: 4.84%;
  top: 37.81%;
  bottom: 37.74%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;

  /* white */

  color: #ffffff;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
