.participated_student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.image_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;

  width: 180px;
  height: 200px;

  filter: drop-shadow(2px 2px 5px #999999);
  border-radius: 15px;
  overflow: hidden;
}
.contacts {
  display: flex;
  justify-content: center;
  pad: 10px;
  width: 150px;
}

.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #000000;
}

.position {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  color: #333333;
}
