.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.image_carousel_wrapper {
  width: 100%;
}

.mdx_wrapper {
  width: calc(100% - 30px);
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .mdx_wrapper {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hci {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.hci_icon {
  width: 200px;
  height: 100px;
}

.concepts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  gap: 15px;
}

.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 15px;
}

.concept_icon {
  width: 150px;
  height: 150px;
  color: var(--primary-color);
}

.list_wrapper {
  width: 100%;
  height: 120px;
  display: flex;
}

.list {
  margin: auto;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  /* margin: 0 auto; */
}
.detail_image {
  position: relative;
  width: 100%;
  height: 175px;
}

@media screen and (min-width: 1200px) {
  .concepts {
    width: 1170px;
  }
  .concept {
    width: 30%;
  }
}
