.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 20px;
  width: calc(100% - 30px);
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.prev {
  width: 44px;
  height: 44px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.placeholder {
  display: none;
}

@media screen and (min-width: 1200px) {
  .title {
    justify-content: space-between;
  }

  .placeholder {
    display: block;
    width: 1px;
  }
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: calc(50vw - 15px);
}

@media screen and (min-width: 1200px) {
  .image_wrapper {
    height: 585px;
  }
}

.publication_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.publication_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .publication_container {
    align-items: flex-start;
  }
}

.participates_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.participates_list {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  /* gap: 50px; */
}

.participate_wrapper {
  padding: 20px 0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .participate_wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .participate_wrapper {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .participate_wrapper {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .participates_container {
    align-items: flex-start;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 60px;
  padding-top: 40px;
  gap: 40px;

  width: calc(100% - 30px);
  margin: auto;
}

.prev{
  width: 64px;
  height: 64px;
}

.lnb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.icon_holder {
  width: 48px;
  height: 48px;
}

.image_holder {
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 900px) { 
  .container{
    width: 840px;
  }
}

@media only screen and (min-width: 1200px) { 
  .container{
    width: 1170px;
  }
}
 */
